

        body{
            background: #f1edff;
            display: flex;
            height: 100vh;
            margin: 0;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: 'Inter', sans-serif;
        }



        /* back home customization */
        .back{
            display: flex;
            gap: 10px;
            
            align-items: center;
        }

        .back button{
            display: flex;
            align-items: center;
            gap: 10px; 
            margin: 5px;
            padding: 12px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            color: #77759a;
            background-color: #f1edff;
            margin-right: 7px;
        }

        .back button:hover{
            background-color: #1947e5;
        }

        .back img{
            height: 10px;
            width: 10px;
            filter: brightness(0) saturate(100%) invert(40%) sepia(9%) saturate(600%) hue-rotate(210deg) brightness(92%) contrast(88%);
            margin-left: 7px;
        }

        /* grade_Flow h3 customization */
        .gradeFlow{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .gradeFlow img{
            height: 45px;
            border-radius: 10px;
            width: 50px;
        }
        .gradeFlow_faculty{
            margin: 10px;
            justify-content: center;
            align-items: center;
        }
        .gradeFlow_faculty h3{
            line-height: 0%;
            font-size: 22px;
            color: #1d2530;
        }

        .gradeFlow_faculty p{
            color: #a09999;
            font-size: 14px;
            line-height: 0%;
            text-align: center;
        }

        /* Sign in style */
        .container{
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 25px;
            border-radius: 5px;
            flex-direction: column;
            width: 350px;   
         
        }

        .formHeader{
            margin-bottom: 15px;
        }

        .formHeader h3{
            font-size: 21px;
            color: #1d2530;
            margin-bottom: 17px;
        }

        .formHeader p{
            font-size: 13px;
            color: #79889a;
        }
        
        .button_style{
            width: 98%;
            background: #f2f4f8;
            display: flex;
            border-radius: 5px;
            padding: 4px;
        }

        .button_style button {
            flex: 1;
            padding: 8px;
            border: none;
            font-size: 14px;
            cursor: pointer;
            
            background-color: #f2f4f8;
            border-radius: 5px;
            
        }

        

        /* Active button (when clicked) */
        .button_style button.active {
            background-color: #f1edff;
            color: black;
        }
        .text{
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-top: 8px;
        }

        .text input{
            padding: 10px;
            border-radius: 3px;
            background-color: #f1edff;
            border: solid 1px rgb(221, 219, 219);
        }
        .text p{
            font-size: 14px;
            margin-top: 20px;
            line-height: 0.5rem;
        }

        .forgotPassword{
            color: rgb(28, 28, 241);
            cursor: pointer;
            
        }
        .forgotPassword:hover{
            text-decoration: underline;
        }

        .buttonSignIn{
            width: 100%;
            display: flex;
            padding: 8px;
            justify-content: center;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            background-color: rgba(0, 0, 255, 0.651);
            border: none;
            color: white;
            margin-bottom: 15px;
        }

       
        .contact{
            display: flex;
            gap: 2px;
            justify-content: center;
            font-size: 14px;
            line-height: 0%;
        }
        .support{
            color: rgb(28, 28, 241);
            cursor: pointer;
        }
        .support:hover{
            text-decoration: underline;
        }


        /* Sign up Style */
        .registerName{
            display: flex;
            gap: 15px;
            margin-top: 15px;
            
        }
        .registerName > div{
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .registerName p{
            display: flex;
            font-size: 14px;
            line-height: 0.3rem;
        }
        .registerName input{
            padding: 10px;
            border-radius: 3px;
            width: 88%;
           
            background-color: #f1edff;
            border: solid 1px rgb(221, 219, 219);
        }
        .input_name_wrapper{
            position: relative; /* makes icons position relative to the wrapper */
            width: 92%;
            
        }
        .input_name_wrapper input{
            width: 52%;
            padding: 9.56px 40px;   /* space for both left & right icons */
            border-radius: 3px;
            font-size: 14px;
        }

        .optionDepartment{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }

        .optionDepartment label{
            font-size: 14px;
            line-height: 0.5rem;
            margin-bottom: 15px;
        }

        .optionDepartment select{
            text-align: center;
            padding: 8px;
            border-radius: 3px;
            background-color: #f1edff;
            border: solid 1px rgb(221, 219, 219);
            cursor: pointer;
        }

        .optionDepartment option{
            text-align: left;
            font-size: 14px;
            line-height: 3rem;
        }

        .buttonSignUp{
            width: 100%;
            display: flex;
            padding: 8px;
            justify-content: center;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            background-color: rgba(0, 0, 255, 0.651);
            border: none;
            color: white;
            margin-top: 15px;
            margin-bottom: 15px;
        }

       


        /* icons inside the placeholder */
        .input-wrapper {
            position: relative; /* makes icons position relative to the wrapper */
            width: 100%;
        }

        .input-wrapper input {
            width: 77%;
            padding: 10px 40px;   /* space for both left & right icons */
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
        }

        /* Common style for icons */
        .input-icon {
            position: absolute;
            top: 50%;
            
            transform: translateY(-50%); /* vertically center */
            width: 15px;
            height: 15px;
        }

        /* Left icon (email, padlock) */
        .input-icon.left {
            left: 13px;
            filter: brightness(0) saturate(100%) invert(40%) sepia(9%) saturate(600%) hue-rotate(210deg) brightness(92%) contrast(88%);
            pointer-events: none; /* don’t block clicks on input */
        }

        /* Right icon (eye toggle) */
        .input-icon.right {
            right: 15px;
            cursor: pointer; /* make it clickable */
        }

        .input-icon.right:hover{
            filter: grayscale(1) brightness(0) invert(1);
        }

        
        

        /* form switch between signin and signup */
        .faculty_margin{
            margin: 0;
            line-height: 0.2rem;
        }
       
        .form{
       
            transition: all 0.3s ease;
            
        }
        .form.active{
            display: block;
            width: 100%;
        }
        

       

        